.nav {
  background-color: #000;
  color: #fff;
  font-size: 1.6rem; }
  .nav__container {
    padding: 1.4rem 0;
    display: flex;
    align-items: center;
    gap: 5px; }
  .nav__logo {
    height: 5.2rem;
    width: 8.2rem;
    display: block; }
  .nav__links {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex: 1;
    list-style: none; }
  .nav__item {
    padding-left: 5.8rem; }
  .nav__link {
    color: #fff;
    text-decoration: none; }
  .nav__link:hover, .nav__link:active {
    color: #f9804b; }

.button--primary {
  border: none;
  background-image: linear-gradient(114deg, #f9804b 0%, #f9804b 33.33%, #fe9013 66.66%, #fe9013 100%);
  background-position: center;
  background-size: 300%;
  border-radius: 2.5rem;
  padding: 1.6rem 0;
  width: 29.8rem;
  height: 5.4rem;
  transition: background-position 200ms ease;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-align: center; }
  .button--primary:hover {
    background-position: left; }
  .button--primary:active {
    background: #4b9200; }

.container {
  max-width: 116rem;
  margin: 0 auto; }

.color-section {
  background: linear-gradient(315.75deg, #fed290b3 30.06%, #febdab 100.95%, #fed290b3 106.36%), linear-gradient(315.75deg, #febdabbd 30.06%, #f3a9f8a8 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, #febdabbd 30.06%, #f3a9f8a8 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  padding: 6.9rem 0 10rem; }
  .color-section__container {
    border-radius: 2rem;
    background: #fdfdff85;
    backdrop-filter: blur(2px);
    color: #333b41; }
  .color-section__title {
    color: #fe9013;
    text-align: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* 16px to 10px */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  font-family: 'Roboto', sans-serif; }

.heading-primary {
  font-size: 4.8rem;
  line-height: 120%;
  font-weight: 400; }

.heading-secondary {
  font-size: 3.6rem;
  line-height: 130%;
  font-weight: 400; }

.heading-sub {
  font-size: 2.4rem;
  line-height: 120%;
  font-weight: 400; }

.text-body {
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: 400; }

.text-btn {
  text-transform: uppercase;
  line-height: 140%;
  font-size: 1.6rem;
  font-weight: 500; }

.text-small {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 110%; }

.home-header {
  height: 78rem;
  background-image: url(/img/hero.png);
  background-size: cover;
  display: flex;
  flex-direction: column; }

.home-header .hero {
  text-align: center;
  flex: 1; }
  .home-header .hero__container {
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 16px; }
  .home-header .hero__text {
    width: 50rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative; }
  .home-header .hero__title {
    letter-spacing: 2px;
    font-size: 10.4rem;
    line-height: 77%;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 6rem;
    z-index: 1; }
    .home-header .hero__title span {
      color: #ffee2e; }
  .home-header .hero__shape {
    height: 46.5rem;
    width: 46.5rem;
    position: absolute;
    border-radius: 50%;
    background-color: #f9804b;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    top: 1.7%;
    left: -14.6%; }

.home-main .about {
  position: relative; }
  .home-main .about__container {
    display: flex;
    align-items: flex-start;
    gap: 8.7rem;
    padding: 14rem 0; }
  .home-main .about__img {
    width: 55%; }
  .home-main .about__texts {
    color: #333b41; }
  .home-main .about__text:first-of-type {
    margin: 2rem 0;
    line-height: 130%; }
  .home-main .about__sub-title {
    margin: 5.4rem 0 3.4rem; }
  .home-main .about__background {
    position: absolute;
    right: 0;
    top: 1.2rem; }

.home-main .gallery {
  padding: 3.7rem 0 10rem;
  position: relative; }
  .home-main .gallery__background-left {
    position: absolute;
    left: 0;
    bottom: 0; }
  .home-main .gallery__background-right {
    position: absolute;
    right: 0;
    bottom: 0; }
  .home-main .gallery__cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 3rem; }
  .home-main .gallery__card {
    position: relative;
    border: 1px solid #f9804b;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    color: #000; }
    .home-main .gallery__card-img {
      width: 100%;
      display: block; }
    .home-main .gallery__card-food {
      position: absolute;
      bottom: 13px;
      right: 13px; }
    .home-main .gallery__card-cap {
      margin: 0.8rem 4.7rem 1.4rem 1.6rem; }
  .home-main .gallery__slider-btn {
    position: absolute;
    height: 6.2rem;
    width: 6.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    border: none;
    cursor: pointer;
    background: linear-gradient(114deg, #f9804b 0%, #fe9013 100%); }
    .home-main .gallery__slider-btn:active {
      background: #4b9200; }
    .home-main .gallery__slider-btn--left {
      left: 0;
      transform: translate(calc(-100% - 2rem), calc(-50% - 3px)); }
    .home-main .gallery__slider-btn--right {
      right: 0;
      transform: translate(calc(100% + 2rem), calc(-50% - 3px)); }
  .home-main .gallery__button-link {
    margin: 7.7rem auto 0;
    display: block; }

.home-main .feed__container {
  padding: 4.1rem 9.9rem 5.9rem; }

.home-main .feed__heading-sub {
  margin: 3rem 0 4rem; }

.home-main .feed__text {
  font-size: 1.6rem;
  line-height: 130%; }
  .home-main .feed__text:first-of-type {
    font-weight: 500;
    margin-right: -4rem;
    margin-bottom: 1rem; }
  .home-main .feed__text:last-of-type {
    padding-right: 9rem; }

.home-main .feed__link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #fe9013;
  padding-bottom: 2px; }

.home-main .feed__heading-second {
  text-align: center;
  margin: 6rem auto 4.2rem; }

.home-main .feed__processes {
  display: flex;
  justify-content: space-between;
  max-width: 76.4rem;
  margin: 0 auto; }

.home-main .feed__process {
  width: 16.8rem; }
  .home-main .feed__process-img-box {
    height: 16.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f9804b;
    background-color: #fff;
    border-radius: 5px; }
  .home-main .feed__process-title {
    margin-top: 3rem; }

.home-main .feed__button-link {
  margin: 6.1rem auto 0;
  display: block; }
