// COLORS
$color-primary: #f9804b;
$color-primary-light: #fe9013;

$color-text: #333b41;

$color-black-dark: #000;
$color-grey: #f1f2f3;
$color-red: #d31414;

$color-green: #4b9200;
$color-white: #fff;

// GRID
:root {
  --grid-width: 120rem;
  --grid-padding: 2rem;
}

@media screen and (max-width: 90em) {
  :root {
    --grid-width: 114rem;
    --grid-padding: 3rem;
  }
}