.button-primary {
  border: none;
  background-image: linear-gradient(
    114deg,
    $color-primary 0%,
    $color-primary 33.33%,
    $color-primary-light 66.66%,
    $color-primary-light 100%
  );
  background-position: center;
  background-size: 300%;
  border-radius: 2.5rem;
  padding: 1.6rem 0;
  width: 29.8rem;
  height: 5.4rem;
  transition: background-position 200ms ease;
  cursor: pointer;
  text-decoration: none;
  color: $color-white;
  text-align: center;

  &:hover {
    background-position: left;
  }

  &:active {
    background: $color-green;
  }

  &--square {
    border-radius: 5px;
  }
}

.form-btn {
  font-size: 1.6rem;
  line-height: 140%;
  width: 12.9rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;

  &:active {
    border: 1px solid $color-green;
    color: $color-green;
  }

  input:valid + & {
    border: 1px solid $color-text;
    background-color: $color-grey;
  }

  input:not(:valid) + & {
    border: 1px solid $color-red;
    color: $color-red;
  }
}
