.footer {
  background-color: #111115;
  color: $color-white;
  padding: 4rem 0 5rem;

  @media screen and (max-width: 640px) {
    padding: 1.2rem 0;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.5rem;

    @media screen and (max-width: 90em) {
      grid-template-columns: 5fr 7fr 5fr;
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr auto 38%;
      gap: 0.5rem;
    }
  }

  &__logo {
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 0.7rem 0.6rem;
    width: 8.2rem;
  }

  &__form-title {
    font-size: 2.4rem;
    line-height: 120%;
    width: 100%;
  }

  &__form {
    max-width: 36.6rem;
    grid-column: 2 / -1;
    justify-self: right;
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem 1rem;

    @media screen and (max-width: 85.375em) {
      margin-right: 3.3rem;
    }

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &__form-input {
    flex: 1;
    background-color: transparent;
    font-size: 1.6rem;
    line-height: 140%;
    padding: 1rem;
    border: 0.7px solid $color-primary;
    color: $color-white;
    outline: none;
    border-radius: 2px;

    &::placeholder {
      color: #bdbdbd;
    }
  }

  &__button-link {
    grid-column: 1 / -1;

    @media screen and (max-width: 800px) {
      grid-row: 2 / 3;
      grid-column: 1 / span 2;
      margin-bottom: 6rem;
      margin-top: 2.5rem;
    }
  }

  &__socials {
    list-style: none;
    margin-top: 0.7rem;
    @media screen and (max-width: 800px) {
      grid-column: -2 / -1;
      grid-row: 1 / span 2;
      justify-self: end;
      margin-top: 0;
    }
  }

  &__social {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:hover {
      .footer__social-icon {
        background-color: $color-green;
      }

      p {
        color: $color-green;
      }
    }

    @media screen and (max-width: 800px) {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    text-decoration: none;

    p {
      font-size: 1.6rem;
      line-height: 140%;
      color: $color-white;

      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }

  &__social-icon {
    height: 2.6rem;
    width: 2.6rem;
    background-color: #c4c4c480;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.2rem;

    @media screen and (max-width: 800px) {
      margin-right: 0rem;
    }
  }

  &__links {
    list-style: none;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 90em) {
      justify-content: flex-start;
      gap: 4.8rem;
    }

    @media screen and (max-width: 800px) {
      grid-column: 1 / span 2;
      gap: 3.7rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    font-size: 1.6rem;
    line-height: 140%;
    transition: color 200ms ease;

    &:hover {
      color: $color-primary;
    }

    &:active {
      color: $color-green;
    }
  }

  &__item--active &__link {
    color: $color-primary;
  }

  &__authors {
    align-self: flex-end;
    justify-self: end;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 130%;
    color: #ffffff;
    text-decoration: none;

    p {
      border-bottom: 1px solid transparent;
    }

    p:first-child {
      margin-bottom: 1rem;
    }

    &:hover {
      color: $color-green;

      p {
        border-bottom: 1px solid currentColor;
      }
    }
  }
}
