.footer {
  background-color: #111115;
  color: $color-white;

  &__container {
    padding: 4rem 0 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.5rem;
  }

  &__logo {
    width: 8.2rem;
  }

  &__form-title {
    font-size: 2.4rem;
    line-height: 120%;
    width: 100%;
  }

  &__form {
    max-width: 36.6rem;
    grid-column: 2 / -1;
    justify-self: right;
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem 1rem;
  }

  &__form-input {
    flex: 1;
    background-color: transparent;
    font-size: 1.6rem;
    line-height: 140%;
    padding: 1rem;
    border: 0.7px solid $color-primary;
    color: $color-white;
    outline: none;
    border-radius: 2px;

    &::placeholder {
      color: #bdbdbd;
    }
  }

  &__button-link {
    grid-column: 1 / -1;
  }

  &__socials {
    list-style: none;
    margin-top: 0.7rem;
  }

  &__social {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:hover {
      .footer__social-icon {
        background-color: $color-green;
      }

      p {
        color: $color-green;
      }
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    text-decoration: none;

    p {
      font-size: 1.6rem;
      line-height: 140%;
      color: $color-white;
    }
  }

  &__social-icon {
    height: 2.6rem;
    width: 2.6rem;
    background-color: #c4c4c480;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.2rem;
  }

  &__links {
    list-style: none;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    font-size: 1.6rem;
    line-height: 140%;
    transition: color 200ms ease;

    &:hover {
      color: $color-primary;
    }

    &:active {
      color: $color-green;
    }
  }

  &__item--active &__link {
    color: $color-primary;
  }

  &__authors {
    align-self: flex-end;
    justify-self: end;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 130%;
    color: #ffffff;
    text-decoration: none;

    p {
      border-bottom: 1px solid transparent;
    }

    p:first-child {
      margin-bottom: 1rem;
    }

    &:hover {
      color: $color-green;

      p {
        border-bottom: 1px solid currentColor;
      }
    }
  }
}
