.nav {
  background-color: $color-black-dark;
  color: $color-white;
  font-size: 1.6rem;
  padding: 1.4rem 0;
  z-index: 10;

  @media screen and (max-width: 999px) {
    padding: 1rem 0;
  }

  @media screen and (max-width: 800px) {
    padding: 0.3rem;
    position: fixed;
    width: 100%;
    top: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
  }

  &__menu {
    display: contents;
    @media screen and (max-width: 800px) {
      position: fixed;
      top: 0rem;
      background-color: $color-white;
      left: 0;
      right: 0;
      height: 33rem;
      padding: 1rem 1rem 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform: translateY(-100%);
      max-height: 0rem;
      transition: all 0.3s;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
    }
  }

  &__logo {
    height: 5.2rem;
    width: auto;
    display: block;
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 0.7rem 0.6rem;

    @media screen and (max-width: 999px) {
      height: 4.2rem;
    }

    @media screen and (max-width: 800px) {
      height: 2.9rem;
      padding: 0.2rem;
      border: none;
    }
  }

  &__menu .nav__logo-link {
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex: 1;
    list-style: none;

    @media screen and (max-width: 90em) {
      padding-left: 1.2rem;
    }

    @media screen and (max-width: 999px) {
      padding-left: 0rem;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2.8rem;
      gap: 1.9rem;
      padding-bottom: 1.9rem;
    }
  }

  &__item {
    padding-left: 5.8rem;

    @media screen and (max-width: 90em) {
      padding-left: 4.8rem;
    }

    @media screen and (max-width: 999px) {
      padding-left: 3.8rem;
    }

    @media screen and (max-width: 800px) {
      padding-left: 0rem;
    }

    &--active .nav__link {
      color: $color-primary;
    }
  }

  &__link {
    color: $color-white;
    text-decoration: none;
    transition: color 200ms ease;

    @media screen and (max-width: 800px) {
      color: $color-text;
    }
  }

  &__link:hover {
    color: $color-primary;
  }

  &__link:active {
    color: $color-green;
  }

  &__burger {
    display: none;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 800px) {
      display: flex;
    }
  }

  &__burger-line {
    width: 18px;
    height: 2px;
    display: none;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: all 200ms ease;
    background-color: $color-white;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 800px) {
      display: block;
    }
  }

  &__menu-state {
    display: none;
  }

  &__menu-state:checked {
    ~ .nav__menu {
      transform: translateY(0);
      max-height: 33rem;
      opacity: 1;
      visibility: visible;
    }

    ~ .nav__burger {
      .nav__burger-line {
        background-color: $color-text;
        &:nth-child(1) {
          transform: translateY(4px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-4px) rotate(-45deg);
        }
      }
    }
  }

  &__logo-menu {
    height: 4.2rem;
    width: auto;
  }
}
