.donate__h1 {
  display: none;
}

.donate-header {
  height: 46.6rem;
  display: flex;
  flex-direction: column;
}

.donate-header .hero {
  background-image: url('../img/donate_bg.png');
  background-size: cover;
  background-position: bottom;
  flex: 1;
}

.donate {
  padding: 4rem 0 18rem;

  &__title {
    color: $color-white;
  }

  &__sub-text {
    color: $color-white;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 140%;
  }

  &__sub-title {
    color: $color-primary-light;
    margin: 4.6rem 0 6rem;
  }
}

.donate-form {
  padding: 4rem 9.2rem 6rem;

  &__title {
    margin-right: 1.2rem;
  }

  &__heading-sub {
    margin-top: 2rem;
    align-self: flex-start;
  }
}

.donate-info {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 6rem;
  gap: 8.9rem;
  padding-right: 1.4rem;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.5rem;
    position: relative;
    &::after {
      content: url(/img/x_icon.svg);
      position: absolute;
      right: -16%;
      top: 50%;
      transform: translateY(40%);
    }

    h3 {
      color: $color-black-dark;
      font-weight: 500;
      font-size: 7.2rem;
      line-height: 80%;
      margin-bottom: 1.1rem;
    }
  }
}

.donate-range {
  margin-top: 4.8rem;
  padding-bottom: 5rem;
  width: 100%;

  &__inputs {
    background-color: #404950;
    height: 2.7rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    position: relative;

    &-bar {
      width: calc(100% - 6rem);
      text-align: center;
      position: absolute;
      display: flex;
      height: 2px;
      background-color: #72828e;
    }

    &-container {
      flex: 1;
      justify-content: space-between;
      display: flex;
      height: 2px;
      align-items: center;
      margin: 0 -1rem;
    }

    input[type='radio'] {
      cursor: pointer;
      appearance: none;
      background-image: radial-gradient(
        circle at 50%,
        yellow 0px,
        yellow 4.5px,
        transparent 5.5px,
        transparent 100%
      );
      width: 23px;
      height: 23px;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: outline 100ms ease-in-out;
      border: 2px solid transparent;
    }

    input[type='radio']:checked {
      border: 2px solid $color-primary-light;
    }

    input[type='radio']::before {
      position: absolute;
      content: '';
      border-radius: 50%;
      transition: 150ms border-color ease-in-out;
      width: 40px;
      height: 40px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
    }

    input[type='radio']:checked::before {
      border-color: $color-primary-light;
    }

    input[type='radio']:checked::after {
      filter: brightness(0) saturate(100%) invert(73%) sepia(71%)
        saturate(3923%) hue-rotate(349deg) brightness(102%) contrast(102%);
    }

    input[type='radio']::after {
      content: url(/img/dollar.svg) attr(value);
      filter: brightness(0) saturate(100%) invert(21%) sepia(18%) saturate(380%)
        hue-rotate(163deg) brightness(95%) contrast(93%);
      color: $color-text;
      width: max-content;
      font-weight: 500;
      font-size: 2.6rem;
      line-height: 140%;
      position: absolute;
      top: calc(100% + 1.7rem);
    }
  }
}

.donate-form {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__other-amount {
    margin: 4.9rem 0 2.5rem;
    position: relative;

    input[type='number'] {
      width: 26.8rem;
      height: 5.4rem;
      padding: 0 3rem 0 0.9rem;
      -moz-appearance: textfield;
      border: 1px solid #929699;
      border-radius: 2px;
      background-color: transparent;
      outline: none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus {
        border: 1px solid $color-green;
      }

      &:focus + img {
        filter: invert(63%) sepia(14%) saturate(4974%) hue-rotate(55deg)
          brightness(99%) contrast(82%);
      }

      &:not(:valid) {
        border: 1px solid $color-red;
      }
      &:not(:valid) + img {
        filter: invert(16%) sepia(70%) saturate(4994%) hue-rotate(355deg)
          brightness(88%) contrast(93%);
      }
    }
    img {
      content: url('/img/dollar.svg');
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
    }
  }

  &__plans {
    display: flex;
    gap: 5rem;
    padding-right: 14px;
  }

  &__plan {
    display: flex;
    align-items: center;

    input {
      appearance: none;
      width: 15px;
      height: 15px;
      border: 1px solid $color-primary-light;
      border-radius: 50%;
      display: grid;
      place-content: center;
      margin-right: 10px;
    }

    input[type='radio']::before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 16px 16px $color-green;
    }

    input[type='radio']:checked::before {
      transform: scale(1);
    }
  }

  &__btn {
    margin: 3rem 0;
  }
}
