.donate__h1 {
  display: none;
}

.donate-header {
  height: 46.6rem;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1000px) {
    height: 47rem;
  }

  @media screen and (max-width: 800px) {
    height: 57.6vw;
  }

  @media screen and (max-width: 500px) {
    height: 69.2vw;
  }
}

.donate-header .hero {
  background-image: url('../img/donate_bg.png');
  background-size: cover;
  background-position: bottom;
  flex: 1;

  @media screen and (max-width: 1000px) {
    background-position: -17.2rem;
  }

  @media screen and (max-width: 800px) {
    background-position: -27.3rem 3.4rem;
    background-size: 214.8%;
  }

  @media screen and (max-width: 600px) {
    background-position: -27.3rem 3.4rem;
    background-size: 214.8%;
  }

  @media screen and (max-width: 500px) {
    background-position: 33.3% bottom;
    background-size: 240%;
  }
}

.donate {
  padding: 4rem 0 18rem;

  @media screen and (max-width: 1000px) {
    padding-bottom: 3.1rem;
  }

  @media screen and (max-width: 800px) {
    padding-top: 2.8rem;
    padding-bottom: 4.7rem;
  }

  @media screen and (max-width: 500px) {
    padding-bottom: 2rem;
  }

  &__title {
    color: $color-white;

    @media screen and (max-width: 1000px) {
      padding-right: 10rem;
    }

    @media screen and (max-width: 640px) {
      font-size: 2.4rem;
      padding-right: 0;
    }
  }

  &__sub-text {
    color: $color-white;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 140%;

    @media screen and (max-width: 1000px) {
      margin-top: 3rem;
    }

    @media screen and (max-width: 640px) {
      margin-top: 1.6rem;
    }

    @media screen and (max-width: 500px) {
      line-height: 137%;
    }
  }

  &__sub-title {
    color: $color-primary-light;
    margin: 4.6rem 0 6rem;

    @media screen and (max-width: 1000px) {
      margin-bottom: 3.9rem;
    }

    @media screen and (max-width: 640px) {
      margin: 3rem 0;
    }

    @media screen and (max-width: 500px) {
      font-size: 2.4rem;
      margin-bottom: 2.8rem;
    }
  }
}

.donate-form {
  padding: 4rem 9.2rem 6rem;

  @media screen and (max-width: 1000px) {
    padding: 2rem 2rem 4.5rem;
  }

  @media screen and (max-width: 640px) {
    padding: 2rem 0 3rem;
  }

  @media screen and (max-width: 500px) {
    padding: 2rem 0;
  }

  &__title {
    margin-right: 1.2rem;

    @media screen and (max-width: 640px) {
      margin-right: 0;
      margin-top: 1rem;
    }

    @media screen and (max-width: 500px) {
      font-size: 2.4rem;
      margin-top: 0rem;
    }
  }

  &__heading-sub {
    margin-top: 2rem;
    align-self: flex-start;

    @media screen and (max-width: 1000px) {
      margin: 1rem auto 0;
    }

    @media screen and (max-width: 640px) {
      margin-top: 2rem;
      text-align: center;
    }

    @media screen and (max-width: 500px) {
      font-size: 1.6rem;
      margin-top: 1.3rem;
    }
  }
}

.donate-info {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 6rem;
  gap: 8.9rem;
  padding-right: 1.4rem;

  @media screen and (max-width: 640px) {
    margin-top: 5rem;
  }

  @media screen and (max-width: 500px) {
    gap: 5rem;
    margin-top: 1.4rem;
    padding-right: 0;
  }

  &__img {
    @media screen and (max-width: 800px) {
      width: 53.3%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.5rem;
    position: relative;

    @media screen and (max-width: 500px) {
      padding-top: 3.5rem;
    }

    &::after {
      content: url(/img/x_icon.svg);
      position: absolute;
      right: -16%;
      top: 50%;
      transform: translateY(40%);

      @media screen and (max-width: 500px) {
        content: url('/img/x_icon_small.svg');
      }
    }

    h3 {
      color: $color-black-dark;
      font-weight: 500;
      font-size: 7.2rem;
      line-height: 80%;
      margin-bottom: 1.1rem;

      @media screen and (max-width: 639px) {
        font-size: 4rem;
        margin-bottom: 0.8rem;
      }
    }

    p {
      @media screen and (max-width: 639px) {
        font-size: 0.9rem;
      }
    }
  }
}

.donate-range {
  margin-top: 4.8rem;
  padding-bottom: 5rem;
  width: 100%;

  @media screen and (max-width: 1000px) {
    width: 90%;
  }

  @media screen and (max-width: 640px) {
    width: 100%;
    margin-top: 4.1rem;
  }

  @media screen and (max-width: 500px) {
    margin-top: 0.3rem;
  }

  & > p.text-body {
    margin-left: 0.4rem;
    @media screen and (max-width: 800px) {
      margin-left: 1rem;
    }

    @media screen and (max-width: 500px) {
      margin-left: 0;
    }
  }

  &__inputs {
    background-color: #404950;
    height: 2.7rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    position: relative;
    border-radius: 2px;

    @media screen and (max-width: 1000px) {
      padding: 0 1.3rem;
    }

    @media screen and (max-width: 640px) {
      margin-top: 0.6rem;
      padding: 0 3.8rem;
    }

    @media screen and (max-width: 500px) {
      height: 1.35rem;
      margin-top: 0.9rem;
      padding: 0 1.7rem;
    }

    &-bar {
      width: calc(100% - 6rem);
      text-align: center;
      position: absolute;
      display: flex;
      height: 2px;
      background-color: #72828e;

      @media screen and (max-width: 1000px) {
        width: calc(100% - 3.2rem);
      }

      @media screen and (max-width: 640px) {
        width: calc(100% - 7.6rem);
      }

      @media screen and (max-width: 500px) {
        width: calc(100% - 3.4rem);
      }
    }

    &-container {
      flex: 1;
      justify-content: space-between;
      display: flex;
      height: 2px;
      align-items: center;
      margin: 0 -1rem;

      @media screen and (max-width: 500px) {
        margin: -0.5rem;
      }

      & > div:nth-child(1) {
        @media screen and (max-width: 1000px) {
          display: none;
        }
      }

      & > div:nth-child(2) {
        @media screen and (max-width: 800px) {
          display: none;
        }
      }

      & > div:nth-child(3) {
        @media screen and (max-width: 640px) {
          display: none;
        }
      }
    }

    input[type='radio'] {
      cursor: pointer;
      appearance: none;
      background-image: radial-gradient(
        circle at 50%,
        yellow 0px,
        yellow 4.5px,
        transparent 5.5px,
        transparent 100%
      );
      width: 23px;
      height: 23px;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: outline 100ms ease-in-out;
      border: 2px solid transparent;

      @media screen and (max-width: 500px) {
        width: 12px;
        height: 12px;
        border: 1px solid transparent;
        background-image: radial-gradient(
          circle at 50%,
          yellow 0px,
          yellow 2px,
          transparent 2.5px,
          transparent 100%
        );
      }
    }

    input[type='radio']:checked {
      border: 2px solid $color-primary-light;

      @media screen and (max-width: 500px) {
        border: 1px solid $color-primary-light;
      }
    }

    input[type='radio']::before {
      position: absolute;
      content: '';
      border-radius: 50%;
      transition: 150ms border-color ease-in-out;
      width: 40px;
      height: 40px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;

      @media screen and (max-width: 500px) {
        width: 20px;
        height: 20px;
        border-width: 1px;
      }
    }

    input[type='radio']:checked::before {
      border-color: $color-primary-light;
    }

    input[type='radio']:checked::after {
      filter: brightness(0) saturate(100%) invert(73%) sepia(71%)
        saturate(3923%) hue-rotate(349deg) brightness(102%) contrast(102%);
    }

    input[type='radio']::after {
      content: url(/img/dollar.svg) attr(value);
      filter: brightness(0) saturate(100%) invert(21%) sepia(18%) saturate(380%)
        hue-rotate(163deg) brightness(95%) contrast(93%);
      color: $color-text;
      width: max-content;
      font-weight: 500;
      font-size: 2.6rem;
      line-height: 140%;
      position: absolute;
      top: calc(100% + 1.7rem);

      @media screen and (max-width: 1000px) {
        transform: translateX(25%);
      }

      @media screen and (max-width: 640px) {
        transform: translateX(5%);
      }

      @media screen and (max-width: 500px) {
        font-size: 1.4rem;
        top: calc(100% + 0.7rem);
        content: url(/img/dollar_small.svg) attr(value);
      }
    }
  }
}

.donate-form {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__other-amount {
    margin: 4.9rem 0 2.5rem;
    position: relative;

    @media screen and (max-width: 640px) {
      margin-bottom: 3rem;
    }

    @media screen and (max-width: 500px) {
      margin-top: 0;
      margin-bottom: 2.4rem;
    }

    input[type='number'] {
      width: 26.8rem;
      height: 5.4rem;
      padding: 0 3rem 0 0.9rem;
      -moz-appearance: textfield;
      border: 1px solid #929699;
      border-radius: 2px;
      background-color: transparent;
      outline: none;

      @media screen and (max-width: 640px) {
        width: 18rem;
        height: 4.1rem;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus {
        border: 1px solid $color-green;
      }

      &:focus + img {
        filter: invert(63%) sepia(14%) saturate(4974%) hue-rotate(55deg)
          brightness(99%) contrast(82%);
      }

      &:not(:valid) {
        border: 1px solid $color-red;
      }
      &:not(:valid) + img {
        filter: invert(16%) sepia(70%) saturate(4994%) hue-rotate(355deg)
          brightness(88%) contrast(93%);
      }
    }
    img {
      content: url('/img/dollar.svg');
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
    }
  }

  &__plans {
    display: flex;
    gap: 5rem;
    padding-right: 14px;
  }

  &__plan {
    display: flex;
    align-items: center;

    input {
      appearance: none;
      width: 15px;
      height: 15px;
      border: 1px solid $color-primary-light;
      border-radius: 50%;
      display: grid;
      place-content: center;
      margin-right: 10px;
    }

    input[type='radio']::before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 16px 16px $color-green;
    }

    input[type='radio']:checked::before {
      transform: scale(1);
    }
  }

  &__btn {
    margin: 3rem 0;

    @media screen and (max-width: 500px) {
      margin-top: 2.7rem;
    }
  }

  & > &__text {
    letter-spacing: -0.1px;
  }
}
