.home-header {
  height: 78rem;
  background-image: url(/img/hero.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 85.375em) {
    height: 58.4rem;
  }

  @media screen and (max-width: 640px) {
    height: 37.3rem;
  }
}

.home-header .hero {
  text-align: center;
  flex: 1;

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 16px;
  }

  &__text {
    width: 50rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    @media screen and (max-width: 85.375em) {
      transform: translate(-6px, 6px);
      height: 41.4rem;
    }

    @media screen and (max-width: 999px) {
      width: 25.6rem;
    }

    @media screen and (max-width: 800px) {
      height: 26.7rem;
      transform: none;
      margin-right: -0.4rem;
    }
  }

  &__title {
    position: relative;
    letter-spacing: 2px;
    font-size: 10.4rem;
    line-height: 77%;
    font-weight: 700;
    color: $color-white;
    text-transform: uppercase;
    margin: 0 0 6rem;
    z-index: 0;

    & span {
      color: #ffee2e;
    }

    @media screen and (max-width: 85.375em) {
      font-size: 8.5rem;
      margin: 0 0 4rem;
      letter-spacing: 0;
      line-height: 75%;
    }

    @media screen and (max-width: 999px) {
      font-size: 6.5rem;
    }

    @media screen and (max-width: 800px) {
      font-size: 5.4rem;
      margin-bottom: 2.1rem;
    }
  }

  &__button-link {
    @media screen and (max-width: 800px) {
      position: absolute;
      left: 2rem;
      bottom: 4rem;
    }
    @media screen and (max-width: 639px) {
      left: 1rem;
      bottom: 2rem;
    }
  }

  &__shape {
    height: 46.5rem;
    width: 46.5rem;
    position: absolute;
    border-radius: 50%;
    background-color: $color-primary;
    background: linear-gradient(
      113.96deg,
      $color-primary 1.49%,
      $color-primary-light 101.44%
    );
    top: -18.3%;
    left: -14.6%;
    z-index: -1;

    @media screen and (max-width: 85.375em) {
      height: 36.7rem;
      width: 36.7rem;
      top: -17.1%;
      left: -1.6%;
    }

    @media screen and (max-width: 999px) {
      height: 29rem;
      width: 29rem;
      top: -22%;
      left: -12%;
    }

    @media screen and (max-width: 800px) {
      height: 23.8rem;
      width: 23.8rem;
      top: -20%;
      left: -14.6%;
    }
  }
}

.home-main .about {
  position: relative;

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 8.7rem;
    padding: 14rem var(--grid-padding);

    @media screen and (max-width: 85.375em) {
      gap: 3.1rem;
      padding: 10.1rem var(--grid-padding) 10.3rem;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      padding: 6rem var(--grid-padding) 4.3rem;
    }
  }

  &__img {
    width: 55%;

    @media screen and (max-width: 85.375em) {
      width: 48.5%;
      height: 40.8rem;
      object-fit: cover;
      margin-top: 8px;
    }

    @media screen and (max-width: 999px) {
      width: 45%;
    }

    @media screen and (max-width: 800px) {
      width: 100%;
      height: calc(100vw * 0.45);
    }

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  &__texts {
    color: $color-text;

    @media screen and (max-width: 640px) {
      width: 81%;
    }
  }

  &__text:first-of-type {
    margin: 2rem 0;
    line-height: 130%;
  }

  &__sub-title {
    margin: 5.4rem 0 3.4rem;

    @media screen and (max-width: 999px) {
      margin: 3rem 0 2rem;
    }
  }

  &__background {
    position: absolute;
    right: 0;
    right: calc(40vw - 65rem);
    top: 50%;
    transform: translateY(-54%);
    width: 12.7vw;
    max-width: 20.2rem;

    @media screen and (max-width: 90em) {
      width: 12vw;
      right: calc(-25rem + 12vw);
    }

    @media screen and (max-width: 640px) {
      width: 16rem;
      top: 54%;
      right: calc(32vw - 23.5rem);
    }
  }
}

.home-main .pets {
  padding: 3.7rem 0 10rem;
  position: relative;

  @media screen and (max-width: 85.375em) {
    padding: 3.7rem 0 14.1rem;
  }

  @media screen and (max-width: 800px) {
    padding: 3.7rem 0 10rem;
  }

  &__background-left {
    position: absolute;
    left: -58.8rem;
    bottom: 0;

    @media screen and (max-width: 90em) {
      height: 20.2rem;
      left: -19.2rem;
    }

    @media screen and (max-width: 640px) {
      left: -25.2rem;
    }
  }

  &__background-right {
    position: absolute;
    right: 0;
    bottom: 0;

    @media screen and (max-width: 90em) {
      width: 24.1rem;
    }

    @media screen and (max-width: 640px) {
      width: 17.5rem;
    }
  }

  &__cards {
    overflow: hidden;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, calc((100% - 2 * 3rem) / 3));
    grid-auto-columns: calc((100% - 2 * 3rem) / 3);
    gap: 2rem 3rem;

    @media screen and (max-width: 85.375em) {
      gap: 9.2rem 3rem;
    }

    @media screen and (max-width: 999px) {
      grid-template-columns: repeat(2, calc((100% - 3rem) / 2));
      grid-auto-columns: calc((100% - 3rem) / 2);
    }
  }

  &__card {
    z-index: 1;
    position: relative;
    border: 1px solid $color-primary;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    color: $color-black-dark;
    width: 100%;
    background-color: $color-white;

    &-img {
      width: 100%;
      display: block;
      transition: transform 0.35s ease;
    }

    &-food {
      position: absolute;
      bottom: 13px;
      right: 13px;
      z-index: 2;

      @media screen and (max-width: 999px) {
        bottom: 10px;
        right: 10px;
      }
    }

    &-cap {
      padding: 0.8rem 4.7rem 1.4rem 1.6rem;
      transition: transform 0.35s ease, color 0.5s ease-out;
      z-index: 2;
      transform-origin: 0 0;

      @media screen and (max-width: 999px) {
        padding: 0.6rem 6rem 1.1rem 1.2rem;
      }

      @media screen and (max-width: 640px) {
        & > * {
          font-size: 1.2rem;
        }
      }
    }
  }

  &__card::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0 0 $color-black-dark;
    z-index: 1;
  }

  &__card:hover::before {
    box-shadow: 0 0 40rem 20rem $color-black-dark;
  }

  &__card:hover .pets__card-img {
    transform: scale(1.1);
  }

  &__card:hover .pets__card-cap {
    color: $color-white;
    transform: translateY(-2rem) scale(1.2);
    position: absolute;
  }

  &__slider-btn {
    position: absolute;
    height: 6.2rem;
    width: 6.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    background: linear-gradient(
      114deg,
      $color-primary 0%,
      $color-primary-light 100%
    );

    &:active {
      background: $color-green;
    }

    &:hover {
      background: $color-primary;
    }

    &--left {
      left: 0;
      transform: translate(calc(-100% - 2rem), calc(-50% - 3px));

      &:hover {
        transform: translate(calc(-100% - 2rem), calc(-50% - 3px)) scale(1.1);
      }

      @media screen and (max-width: 85.375em) {
        left: 50%;
        transform: translate(calc(-100% - 8.5rem), -50%);

        &:hover {
          transform: translate(calc(-100% - 8.5rem), -50%) scale(1.1);
        }
      }

      @media screen and (max-width: 640px) {
        transform: translate(calc(-100% - 1.5rem), -57%);

        &:hover {
          transform: translate(calc(-100% - 1.5rem), -57%);
        }
      }
    }

    &--right {
      right: 0;
      transform: translate(calc(100% + 2rem), calc(-50% - 3px));

      &:hover {
        transform: translate(calc(100% + 2rem), calc(-50% - 3px)) scale(1.1);
      }

      @media screen and (max-width: 85.375em) {
        right: 50%;
        transform: translate(calc(100% + 8.6rem), -50%);

        &:hover {
          transform: translate(calc(100% + 8.6rem), -50%) scale(1.1);
        }
      }

      @media screen and (max-width: 640px) {
        transform: translate(calc(100% + 1.5rem), -57%);

        &:hover {
          transform: translate(calc(100% + 1.5rem), -57%);
        }
      }
    }
  }

  &__button-link {
    margin: 7.7rem auto 0;
    display: block;

    @media screen and (max-width: 85.375em) {
      margin-top: 8rem;
    }

    @media screen and (max-width: 640px) {
      margin-top: 6rem;
    }
  }
}

.home-main .feed {
  &__container {
    padding: 4.1rem 9.9rem 5.9rem;

    @media screen and (max-width: 85.375em) {
      padding: 3rem 4.9rem 5rem 4.8rem;
    }

    @media screen and (max-width: 640px) {
      padding: 1rem 2rem 6rem;
    }
  }

  &__title {
    @media screen and (max-width: 640px) {
      font-size: 4.2rem;
    }
  }

  &__heading-sub {
    margin: 3rem 0 4rem;

    @media screen and (max-width: 85.375em) {
      margin: 2.2rem 0 2rem;
    }

    @media screen and (max-width: 640px) {
      font-size: 2.2rem;
      margin-top: 2rem;
    }
  }

  &__text {
    font-size: 1.6rem;
    line-height: 130%;

    &:first-of-type {
      font-weight: 500;
      margin-right: -4rem;
      margin-bottom: 1rem;

      @media screen and (max-width: 85.375em) {
        margin-right: 4.5rem;
      }

      @media screen and (max-width: 640px) {
        margin-right: 0;
      }
    }

    &:last-of-type {
      padding-right: 9rem;

      @media screen and (max-width: 85.375em) {
        padding-right: 0;
      }
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $color-primary-light;
    padding-bottom: 2px;
  }

  &__heading-second {
    text-align: center;
    margin: 6rem auto 4.2rem;

    @media screen and (max-width: 85.375em) {
      margin-top: 4rem;
    }

    @media screen and (max-width: 640px) {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }

  &__processes {
    display: flex;
    justify-content: space-between;
    max-width: 76.4rem;
    margin: 0 auto;

    @media screen and (max-width: 800px) {
      gap: 2rem;
    }
  }

  &__process {
    width: 16.8rem;
    position: relative;

    &-img-box {
      height: 16.8rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-primary;
      background-color: $color-white;
      border-radius: 5px;
    }

    &-title {
      margin-top: 3rem;
    }

    @media screen and (max-width: 800px) {
      &::after {
        content: url('/img/arrow.svg');
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1;
        transform: translate(calc(25vw - 21rem), -50%);
      }
      &:last-of-type::after {
        display: none;
      }
    }

    @media screen and (max-width: 640px) {
      &::after {
        transform: translate(calc(33vw - 24rem), -50%);
      }
    }
  }

  &__process-arrow {
    transform: translateY(-42px);

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &__button-link {
    margin: 6.1rem auto 0;
    display: block;

    @media screen and (max-width: 85.375em) {
      margin-top: 6.8rem;
    }

    @media screen and (max-width: 640px) {
      margin-top: 4rem;
    }
  }
}

.home-main .testimonials {
  position: relative;
  overflow: hidden;

  &__background {
    position: absolute;
    right: -110px;
    bottom: -77px;
    transform: rotate(30deg);

    @media screen and (max-width: 85.375em) {
      height: 24rem;
      right: -89px;
      bottom: -45px;
    }

    @media screen and (max-width: 640px) {
      height: 15rem;
      right: -62px;
      bottom: -43px;
    }
  }

  &__container {
    padding: 14rem var(--grid-padding) 18rem;

    @media screen and (max-width: 85.375em) {
      padding: 10rem var(--grid-padding) 14rem;
    }

    @media screen and (max-width: 640px) {
      padding: 6rem var(--grid-padding) 8rem;
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: 4.7rem;

    @media screen and (max-width: 85.375em) {
      margin-bottom: 3rem;
    }
  }

  &__cards {
    display: flex;
    overflow: hidden;
    gap: 3rem;
    align-items: stretch;
    @media screen and (max-width: 640px) {
      flex-direction: column;
      gap: 1.5rem;
      max-height: 35.7rem;
      overflow-y: auto;
    }
  }

  &__card {
    max-height: 39.1rem;
    flex-shrink: 0;
    width: calc((100% - 3 * 3rem) / 4);
    border-radius: 2rem;
    padding: 2px;
    position: relative;
    background-image: linear-gradient(
        315.75deg,
        #febdabbd 30.06%,
        #f3a9f8a8 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        #febdabbd 30.06%,
        #f3a9f8a8 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );

    @media screen and (max-width: 85.375em) {
      width: calc((100% - 6rem) / 3);
    }

    @media screen and (max-width: 800px) {
      width: calc((100% - 3rem) / 2);
    }

    @media screen and (max-width: 640px) {
      width: 100%;
      max-height: 10.9rem;
    }

    &-bg {
      height: 100%;
      padding: 1.5rem 1.5rem 1.9rem 1.6rem;
      border-radius: 1.9rem;
      background-color: $color-grey;

      @media screen and (max-width: 640px) {
        display: flex;
        flex-direction: column;
        max-height: 10.5rem;
        padding: 1.5rem 1.2rem 0.8rem;
      }
    }
  }

  &__card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__card-img {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
  }

  &__card-name {
    font-size: 1.6rem;
    line-height: 120%;
    margin-bottom: 1px;
  }

  &__card-stat {
    color: #bdbdbd;

    span {
      margin: 0 0.7rem;
    }
  }

  &__card-desc {
    color: #767474;
    max-height: 30.9rem;
    overflow-x: auto;
    line-height: 120%;

    @media screen and (max-width: 640px) {
      padding: 0 0.6rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__scroller {
    max-width: 60rem;
    width: 100%;
    margin: 2.1rem auto;
    padding: 1px;
    border-radius: 5px;
    border: 0.5px;
    background-image: linear-gradient(
        315.75deg,
        #febdabbd 30.06%,
        #f3a9f8a8 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        #febdabbd 30.06%,
        #f3a9f8a8 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );
    @media screen and (max-width: 85.375em) {
      width: 39rem;
      transform: translateX(-7px);
    }

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  &__slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    display: block;
    height: 8px;
    background: #f5f7f6;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;

    @media screen and (max-width: 85.375em) {
      height: 6px;
    }
  }

  &__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11.5rem;
    height: 8px;
    background: $color-primary-light;
    cursor: pointer;
    border-radius: 5px;

    @media screen and (max-width: 85.375em) {
      width: 7.5rem;
      height: 6px;
    }
  }

  &__slider::-moz-range-thumb {
    height: 11.5rem;
    border-radius: 5px;
    height: 8px;
    background: $color-primary-light;
    cursor: pointer;
  }

  &__slider::-ms-thumb {
    height: 11.5rem;
    border-radius: 5px;
    height: 8px;
    background: $color-primary-light;
    cursor: pointer;
  }

  &__button-link {
    margin-top: 3.1rem;
    display: block;

    @media screen and (max-width: 85.375em) {
      margin-top: 5.2rem;
    }

    @media screen and (max-width: 640px) {
      margin: 4.1rem auto 0;
      width: 24rem;
    }
  }
}
