.home-header {
  height: 78rem;
  background-image: url(/img/hero.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.home-header .hero {
  text-align: center;
  flex: 1;

  &__container {
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 16px;
  }

  &__text {
    width: 50rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }

  &__title {
    letter-spacing: 2px;
    font-size: 10.4rem;
    line-height: 77%;
    font-weight: 700;
    color: $color-white;
    text-transform: uppercase;
    margin: 0 0 6rem;
    z-index: 1;

    & span {
      color: #ffee2e;
    }
  }

  &__shape {
    height: 46.5rem;
    width: 46.5rem;
    position: absolute;
    border-radius: 50%;
    background-color: $color-primary;
    background: linear-gradient(
      113.96deg,
      $color-primary 1.49%,
      $color-primary-light 101.44%
    );
    top: 1.7%;
    left: -14.6%;
  }
}

.home-main .about {
  position: relative;

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 8.7rem;
    padding: 14rem 0;
  }

  &__img {
    width: 55%;
  }

  &__texts {
    color: $color-text;
  }

  &__text:first-of-type {
    margin: 2rem 0;
    line-height: 130%;
  }

  &__sub-title {
    margin: 5.4rem 0 3.4rem;
  }

  &__background {
    position: absolute;
    right: 0;
    top: 1.2rem;
  }
}

.home-main .gallery {
  padding: 3.7rem 0 10rem;
  position: relative;

  &__background-left {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__background-right {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 3rem;
  }

  &__card {
    position: relative;
    border: 1px solid $color-primary;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    color: $color-black-dark;

    &-img {
      width: 100%;
      display: block;
    }

    &-food {
      position: absolute;
      bottom: 13px;
      right: 13px;
    }

    &-cap {
      margin: 0.8rem 4.7rem 1.4rem 1.6rem;
    }
  }

  &__slider-btn {
    position: absolute;
    height: 6.2rem;
    width: 6.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    border: none;
    cursor: pointer;
    background: linear-gradient(
      114deg,
      $color-primary 0%,
      $color-primary-light 100%
    );

    &:active {
      background: $color-green;
    }

    &--left {
      left: 0;
      transform: translate(calc(-100% - 2rem), calc(-50% - 3px));
    }

    &--right {
      right: 0;
      transform: translate(calc(100% + 2rem), calc(-50% - 3px));
    }
  }

  &__button-link {
    margin: 7.7rem auto 0;
    display: block;
  }
}

.home-main .feed {
  &__container {
    padding: 4.1rem 9.9rem 5.9rem;
  }

  &__heading-sub {
    margin: 3rem 0 4rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 130%;

    &:first-of-type {
      font-weight: 500;
      margin-right: -4rem;
      margin-bottom: 1rem;
    }

    &:last-of-type {
      padding-right: 9rem;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $color-primary-light;
    padding-bottom: 2px;
  }

  &__heading-second {
    text-align: center;
    margin: 6rem auto 4.2rem;
  }

  &__processes {
    display: flex;
    justify-content: space-between;
    max-width: 76.4rem;
    margin: 0 auto;
  }

  &__process {
    width: 16.8rem;

    &-img-box {
      height: 16.8rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-primary;
      background-color: $color-white;
      border-radius: 5px;
    }

    &-title {
      margin-top: 3rem;
    }
  }

  &__button-link {
    margin: 6.1rem auto 0;
    display: block;
  }
}
