.home-header {
  height: 78rem;
  background-image: url(/img/hero.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.home-header .hero {
  text-align: center;
  flex: 1;

  &__container {
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 16px;
  }

  &__text {
    width: 50rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }

  &__title {
    letter-spacing: 2px;
    font-size: 10.4rem;
    line-height: 77%;
    font-weight: 700;
    color: $color-white;
    text-transform: uppercase;
    margin: 0 0 6rem;
    z-index: 1;

    & span {
      color: #ffee2e;
    }
  }

  &__shape {
    height: 46.5rem;
    width: 46.5rem;
    position: absolute;
    border-radius: 50%;
    background-color: $color-primary;
    background: linear-gradient(
      113.96deg,
      $color-primary 1.49%,
      $color-primary-light 101.44%
    );
    top: 1.7%;
    left: -14.6%;
  }
}

.home-main .about {
  position: relative;

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 8.7rem;
    padding: 14rem 0;
  }

  &__img {
    width: 55%;
  }

  &__texts {
    color: $color-text;
  }

  &__text:first-of-type {
    margin: 2rem 0;
    line-height: 130%;
  }

  &__sub-title {
    margin: 5.4rem 0 3.4rem;
  }

  &__background {
    position: absolute;
    right: 0;
    top: 1.2rem;
  }
}

.home-main .pets {
  padding: 3.7rem 0 10rem;
  position: relative;

  &__background-left {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__background-right {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 3rem;
  }

  &__card {
    position: relative;
    border: 1px solid $color-primary;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    color: $color-black-dark;

    &-img {
      width: 100%;
      display: block;
      transition: transform 0.35s ease;
    }

    &-food {
      position: absolute;
      bottom: 13px;
      right: 13px;
      z-index: 2;
    }

    &-cap {
      padding: 0.8rem 4.7rem 1.4rem 1.6rem;
      transition: transform 0.35s ease, color 0.5s ease-out;
      z-index: 2;
      transform-origin: 0 0;
    }
  }

  &__card::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0 0 $color-black-dark;
    z-index: 1;
  }

  &__card:hover::before {
    box-shadow: 0 0 40rem 20rem $color-black-dark;
  }

  &__card:hover .pets__card-img {
    transform: scale(1.1);
  }

  &__card:hover .pets__card-cap {
    color: $color-white;
    transform: translateY(-2rem) scale(1.2);
    position: absolute;
  }

  &__slider-btn {
    position: absolute;
    height: 6.2rem;
    width: 6.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    border: none;
    cursor: pointer;
    background: linear-gradient(
      114deg,
      $color-primary 0%,
      $color-primary-light 100%
    );

    &:active {
      background: $color-green;
    }

    &--left {
      left: 0;
      transform: translate(calc(-100% - 2rem), calc(-50% - 3px));
    }

    &--right {
      right: 0;
      transform: translate(calc(100% + 2rem), calc(-50% - 3px));
    }
  }

  &__button-link {
    margin: 7.7rem auto 0;
    display: block;
  }
}

.home-main .feed {
  &__container {
    padding: 4.1rem 9.9rem 5.9rem;
  }

  &__heading-sub {
    margin: 3rem 0 4rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 130%;

    &:first-of-type {
      font-weight: 500;
      margin-right: -4rem;
      margin-bottom: 1rem;
    }

    &:last-of-type {
      padding-right: 9rem;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $color-primary-light;
    padding-bottom: 2px;
  }

  &__heading-second {
    text-align: center;
    margin: 6rem auto 4.2rem;
  }

  &__processes {
    display: flex;
    justify-content: space-between;
    max-width: 76.4rem;
    margin: 0 auto;
  }

  &__process {
    width: 16.8rem;

    &-img-box {
      height: 16.8rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-primary;
      background-color: $color-white;
      border-radius: 5px;
    }

    &-title {
      margin-top: 3rem;
    }
  }

  &__process-arrow {
    transform: translateY(-42px);
  }

  &__button-link {
    margin: 6.1rem auto 0;
    display: block;
  }
}

.home-main .testimonials {
  position: relative;
  overflow: hidden;

  &__background {
    position: absolute;
    right: -110px;
    bottom: -77px;
    transform: rotate(30deg);
  }

  &__container {
    padding: 14rem 0 18rem;
  }

  &__heading {
    text-align: center;
    margin-bottom: 4.7rem;
  }

  &__cards {
    display: flex;
    overflow: hidden;
    gap: 3rem;
    align-items: stretch;
  }

  &__card {
    max-height: 39.1rem;
    flex-shrink: 0;
    width: calc((100% - 9rem) / 4);
    border-radius: 2rem;
    padding: 2px;
    position: relative;
    background-image: linear-gradient(
        315.75deg,
        #febdabbd 30.06%,
        #f3a9f8a8 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        #febdabbd 30.06%,
        #f3a9f8a8 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );

    &-bg {
      height: 100%;
      padding: 1.5rem 1.5rem 1.9rem 1.6rem;
      border-radius: 1.9rem;
      background-color: $color-grey;
    }
  }

  &__card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__card-img {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
  }

  &__card-name {
    font-size: 1.6rem;
    line-height: 120%;
    margin-bottom: 1px;
  }

  &__card-stat {
    color: #bdbdbd;

    span {
      margin: 0 0.7rem;
    }
  }

  &__card-desc {
    color: #767474;
    max-height: 30.9rem;
    overflow-x: auto;
    line-height: 120%;
  }

  &__slider {
    -webkit-appearance: none;
    appearance: none;
    max-width: 60rem;
    width: 100%;
    margin: 2.1rem auto;
    display: block;
    height: 8px;
    background: #f5f7f6;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
    border: 0.5px solid $color-primary-light;
  }

  &__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11.5rem;
    height: 8px;
    background: $color-primary-light;
    cursor: pointer;
    border-radius: 5px;
  }

  &__slider::-moz-range-thumb {
    height: 11.5rem;
    border-radius: 5px;
    height: 8px;
    background: $color-primary-light;
    cursor: pointer;
  }

  &__slider::-ms-thumb {
    height: 11.5rem;
    border-radius: 5px;
    height: 8px;
    background: $color-primary-light;
    cursor: pointer;
  }

  &__button-link {
    margin-top: 3.1rem;
    display: block;
  }
}
